<% provide(:title, 'About Us') %>
<div class="col-md-12 page text-center">
  <p>It's hard to remember a worls without blogs. Originslly a sort og onlinejournal fuul mundane personal updates, web logs
  have morphed into an extremaly powerful form communication.</p>
    <p>They were once shunned by the mainstream - now they are the mainstream.</p>
  <p>Whether it's breaking tech news, an insider's point of view , or irreverent humor you're seeking, there are an infinite number of blogs on any subject whose authors will be happy to oblige. </p>
<p>It shouldn't be any surprise that the tech world embraced the blogsphere far before every newspaper in the country started making their
writers blog alohgside their standard news stories. As a result, there are blogs that are so great, so informative, so current - you'd be lost in your tech career without them. Here'a some we monitor daily. Add them to your bookmarks!</p>


</div>